USE [Гром02_03]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 10.03.2026 9:37:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[Номер заказа] [int] IDENTITY(1,1) NOT NULL,
	[Дата заказа] [date] NULL,
	[Дата доставки] [date] NULL,
	[Адрес пункта выдачи] [int] NULL,
	[Код для получения] [int] NULL,
	[Статус заказа] [varchar](50) NULL,
	[Код_пользователя] [int] NULL,
 CONSTRAINT [PK_Заказы] PRIMARY KEY CLUSTERED 
(
	[Номер заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 10.03.2026 9:37:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Роль сотрудника] [varchar](50) NOT NULL,
	[ФИО] [varchar](50) NULL,
	[Логин] [varchar](50) NULL,
	[Пароль] [varchar](50) NULL,
 CONSTRAINT [PK_Пользователи] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пункты_выдачи]    Script Date: 10.03.2026 9:37:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пункты_выдачи](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Индекс] [int] NULL,
	[Город] [varchar](50) NULL,
	[Улица] [varchar](50) NULL,
	[Дом] [int] NULL,
 CONSTRAINT [PK_Пункты_выдачи] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Список_заказов]    Script Date: 10.03.2026 9:37:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Список_заказов](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Номер заказа] [int] NULL,
	[Артикул заказа] [varchar](50) NULL,
	[Количество] [int] NULL,
 CONSTRAINT [PK_Список_заказов] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Товары]    Script Date: 10.03.2026 9:37:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товары](
	[Артикул] [varchar](50) NOT NULL,
	[Наименование товара] [varchar](50) NULL,
	[Единица измерения] [varchar](50) NULL,
	[Цена] [money] NULL,
	[Поставщик] [varchar](50) NULL,
	[Производитель] [varchar](50) NULL,
	[Категория товара] [varchar](50) NULL,
	[Действующая скидка] [float] NULL,
	[Кол-во на складе] [int] NULL,
	[Описание товара] [varchar](max) NULL,
	[Фото] [varchar](50) NULL,
 CONSTRAINT [PK_Товары] PRIMARY KEY CLUSTERED 
(
	[Артикул] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Заказы] ON 

INSERT [dbo].[Заказы] ([Номер заказа], [Дата заказа], [Дата доставки], [Адрес пункта выдачи], [Код для получения], [Статус заказа], [Код_пользователя]) VALUES (1, CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 1, 901, N'Завершен', 4)
INSERT [dbo].[Заказы] ([Номер заказа], [Дата заказа], [Дата доставки], [Адрес пункта выдачи], [Код для получения], [Статус заказа], [Код_пользователя]) VALUES (2, CAST(N'2022-09-28' AS Date), CAST(N'2025-04-21' AS Date), 11, 902, N'Завершен', 1)
INSERT [dbo].[Заказы] ([Номер заказа], [Дата заказа], [Дата доставки], [Адрес пункта выдачи], [Код для получения], [Статус заказа], [Код_пользователя]) VALUES (3, CAST(N'2025-03-21' AS Date), CAST(N'2025-04-22' AS Date), 2, 903, N'Завершен', 2)
SET IDENTITY_INSERT [dbo].[Заказы] OFF
GO
SET IDENTITY_INSERT [dbo].[Пользователи] ON 

INSERT [dbo].[Пользователи] ([Код], [Роль сотрудника], [ФИО], [Логин], [Пароль]) VALUES (1, N'Администратор', N'Никифорова Весения Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[Пользователи] ([Код], [Роль сотрудника], [ФИО], [Логин], [Пароль]) VALUES (2, N'Администратор', N'Сазонов Руслан Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[Пользователи] ([Код], [Роль сотрудника], [ФИО], [Логин], [Пароль]) VALUES (3, N'Администратор', N'Одинцов Серафим Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
SET IDENTITY_INSERT [dbo].[Пользователи] OFF
GO
SET IDENTITY_INSERT [dbo].[Пункты_выдачи] ON 

INSERT [dbo].[Пункты_выдачи] ([Код], [Индекс], [Город], [Улица], [Дом]) VALUES (1, 420151, N' г. Лесной', N' ул. Вишневая', 32)
INSERT [dbo].[Пункты_выдачи] ([Код], [Индекс], [Город], [Улица], [Дом]) VALUES (2, 125061, N' г. Лесной', N' ул. Подгорная', 8)
INSERT [dbo].[Пункты_выдачи] ([Код], [Индекс], [Город], [Улица], [Дом]) VALUES (3, 630370, N' г. Лесной', N' ул. Шоссейная', 24)
SET IDENTITY_INSERT [dbo].[Пункты_выдачи] OFF
GO
SET IDENTITY_INSERT [dbo].[Список_заказов] ON 

INSERT [dbo].[Список_заказов] ([Код], [Номер заказа], [Артикул заказа], [Количество]) VALUES (1, 1, N'А112Т4', 2)
INSERT [dbo].[Список_заказов] ([Код], [Номер заказа], [Артикул заказа], [Количество]) VALUES (2, 2, N'H782T5', 1)
INSERT [dbo].[Список_заказов] ([Код], [Номер заказа], [Артикул заказа], [Количество]) VALUES (3, 3, N'J384T6', 10)
SET IDENTITY_INSERT [dbo].[Список_заказов] OFF
GO
INSERT [dbo].[Товары] ([Артикул], [Наименование товара], [Единица измерения], [Цена], [Поставщик], [Производитель], [Категория товара], [Действующая скидка], [Кол-во на складе], [Описание товара], [Фото]) VALUES (N'B320R5', N'Туфли', N'шт.', 4300.0000, N'Kari', N'Rieker', N'Женская обувь', 2, 6, N'Туфли Rieker женские демисезонные, размер 41, цвет', N'9.jpg')
INSERT [dbo].[Товары] ([Артикул], [Наименование товара], [Единица измерения], [Цена], [Поставщик], [Производитель], [Категория товара], [Действующая скидка], [Кол-во на складе], [Описание товара], [Фото]) VALUES (N'B431R5', N'Ботинки', N'шт.', 2700.0000, N'Обувь для вас', N'Rieker', N'Мужская обувь', 2, 5, N'Мужские кожаные ботинки/мужские ботинки', N'')
INSERT [dbo].[Товары] ([Артикул], [Наименование товара], [Единица измерения], [Цена], [Поставщик], [Производитель], [Категория товара], [Действующая скидка], [Кол-во на складе], [Описание товара], [Фото]) VALUES (N'C436G5', N'Ботинки', N'шт.', 10200.0000, N'Kari', N'Alessio Nesca', N'Женская обувь', 15, 9, N'Ботинки женские, ARGO, размер 40', N'')
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Пользователи] FOREIGN KEY([Код_пользователя])
REFERENCES [dbo].[Пользователи] ([Код])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Пользователи]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Пункты_выдачи] FOREIGN KEY([Адрес пункта выдачи])
REFERENCES [dbo].[Пункты_выдачи] ([Код])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Пункты_выдачи]
GO
ALTER TABLE [dbo].[Список_заказов]  WITH CHECK ADD  CONSTRAINT [FK_Список_заказов_Заказы] FOREIGN KEY([Номер заказа])
REFERENCES [dbo].[Заказы] ([Номер заказа])
GO
ALTER TABLE [dbo].[Список_заказов] CHECK CONSTRAINT [FK_Список_заказов_Заказы]
GO
ALTER TABLE [dbo].[Список_заказов]  WITH CHECK ADD  CONSTRAINT [FK_Список_заказов_Товары] FOREIGN KEY([Артикул заказа])
REFERENCES [dbo].[Товары] ([Артикул])
GO
ALTER TABLE [dbo].[Список_заказов] CHECK CONSTRAINT [FK_Список_заказов_Товары]
GO
